* {
    margin: 0px;
}
body {
    color: slategray;
}
h1, h2 {
    font-family: sans-serif;
}
h2 {
    background-color: lightblue;
    color: navy;
}
p {
    font-family: cursive;
    color: black;
}